@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Alert */
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/* Navbar */
.flex-container {
  display: flex;
}

.flex-item {
  background: #f4f4f4;
  border: #ccc solid 1px;
  padding: 1rem;
  text-align: center;
  flex: 1;
}

/* Privacy page */
.flex-container-privacy {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-left: 6rem;
}

.flex-item-privacy {
  padding: 1rem;
  text-align: left;
}

.flex-item-btn {
  text-align: right;
  padding-top: 0.5rem;
}

.center {
  max-width: 600px;
  margin: 0 auto;
}

/* Submit button */
.submit {
  display: inline-block;
  background: var(--success-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  opacity: 0.75;
}

.submit:hover {
  opacity: 1;
}
